[Unit]
Description=Enable NAT for qvm0 bridge
PartOf=qvm-network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=sysctl -w net.ipv4.ip_forward=1
ExecStart=nft -f /etc/opt/qvm/qvm0.nft
ExecStop=nft flush table inet qvm0
ExecStopPost=sysctl -w net.ipv4.ip_forward=0

[Install]
WantedBy=qvm-network.target
