[Unit]
Descritption=Bring up bridge qvm0
PartOf=qvm-network.target

[Service]
Type=oneshot
ExecStart=/opt/qvm/bin/qvm-bridge up
ExecStop=/opt/qvm/bin/qvm-bridge down

[Install]
WantedBy=qvm-network.target
