[Unit]
Description=Start jumpbox VM
Requires=qvm-network.target
After=qvm-network.target

[Service]
Type=exec
ExecStart=qemu-system-x86_64 -name jmp -accel kvm -cpu host -smp 4 -m 8G \
          -drive file=/var/vms/machines/jmp.qcow2,format=qcow2,if=virtio \
          -drive if=pflash,format=raw,readonly=on,file=/usr/share/edk2/ovmf/OVMF_CODE.fd \
          -cdrom /var/vms/iso/rhel-10.iso -nic bridge,br=qvm0,model=virtio,mac=52:54:7f:16:47:38 \
          -display none -serial mon:pty
