[Unit]
Description=Start dnsmasq server on interface qvm0
PartOf=qvm-network.service
Requires=qvm-bridge.service
After=qvm-bridge.service

[Service]
Type=exec
WorkingDirectory=%h/src/qvm
ExecStart=sudo dnsmasq --keep-in-foreground --conf-file=./scripts/net/dnsmasq.conf
ExecStartPost=sudo resolvectl dns qvm0 10.42.0.1
ExecStartPost=sudo resolvectl domain qvm0 qvm0.lan ~qvm.lan
ExecStartPost=sudo resolvectl default-route qvm0 no
ExecStartPost=sudo resolvectl llmnr qvm0 no
ExecStartPost=sudo resolvectl dnssec qvm0 no
ExecStartPost=sudo resolvectl status qvm0
ExecStopPost=sudo resolvectl dns qvm0 ""

[Install]
WantedBy=qvm-network.target
