[Unit]
Descritption=Bring up bridge qvm0
PartOf=qvm-network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/src/qvm
ExecStart=sudo ./scripts/qvm-bridge up
ExecStop=sudo ./scripts/qvm-bridge down

[Install]
WantedBy=qvm-network.target
